Repository Mikibot/Miki.Discord, pull requests merged in 2019-06, with the labels that each got.

#15 Fixed Unit Tests
  Examples/Testbot/Program.cs
  Examples/Testbot/Testbot.csproj
  Miki.Discord.Common/Extensions/EventExtensions.cs
  Miki.Discord.Common/Packets/API/DiscordGuildPacket.cs
  Miki.Discord.Gateway/GatewayCluster.cs
  Miki.Discord.Gateway/GatewayShard.cs
  Miki.Discord.Gateway/Miki.Discord.Gateway.csproj
  Miki.Discord.Tests.Dummy/DummyApiClient.cs
  Miki.Discord.Tests.Dummy/DummyGateway.cs
  Miki.Discord.Tests.Dummy/Miki.Discord.Tests.Dummy.csproj
  Miki.Discord.Tests.Performance/CachePerformance.cs
  Miki.Discord.Tests.Performance/Miki.Discord.Tests.Performance.csproj
  Miki.Discord.Tests/Caching.cs
  Miki.Discord.Tests/DiscordClientTest.cs
  Miki.Discord.Tests/Miki.Discord.Tests.csproj
  Miki.Discord.Tests/Ratelimits.cs
  Miki.Discord.sln
  Miki.Discord/DiscordClient.cs
  azure-pipelines.yml
Labels: enhancement

#16 Add: PremiumLevel implementation in DiscordGuild
  Miki.Discord.Common/Models/IDiscordGuild.cs
  Miki.Discord.Common/Models/IDiscordGuildUser.cs
  Miki.Discord/Internal/DiscordGuild.cs
  Miki.Discord/Internal/DiscordGuildUser.cs
  Miki.Discord/Internal/DiscordUser.cs
Labels: enhancement

#19 Added guild prune routes, documentation
  Miki.Discord.Common/Models/IApiClient.cs
  Miki.Discord.Common/Models/IDiscordGuild.cs
  Miki.Discord.Common/Models/IDiscordRole.cs
  Miki.Discord.Rest/Converters/UserAvatarConverter.cs
  Miki.Discord.Rest/DiscordApiClient.cs
  Miki.Discord.Rest/DiscordApiRoutes.cs
  Miki.Discord.Rest/Models/DiscordPruneObject.cs
  Miki.Discord.Rest/Models/DiscordRestError.cs
  Miki.Discord.Tests.Dummy/DummyApiClient.cs
  Miki.Discord/DiscordClient.cs
  Miki.Discord/Internal/DiscordGuild.cs
  Miki.Discord/Internal/DiscordGuildTextChannel.cs
  Miki.Discord/Internal/DiscordRole.cs
  Miki.Discord/MessageQueue.cs
Labels: api, enhancement

#18 New Caching Client, Improvements in gateway
  Miki.Discord.Caching/CacheStage.cs
  Miki.Discord.Caching/Miki.Discord.Caching.csproj
  Miki.Discord.Caching/Stages/BasicCacheStage.cs
  Miki.Discord.Common/IDiscordClient.cs
  Miki.Discord.Common/Models/IApiClient.cs
  Miki.Discord.Common/Models/IDiscordMessage.cs
  Miki.Discord.Common/Packets/API/DiscordGuildPacket.cs
  Miki.Discord.Common/Packets/API/Internal/DiscordGuildPacketRoot.cs
  Miki.Discord.Common/Utils/Color.cs
  Miki.Discord.Gateway/Connection/GatewayConnection.cs
  Miki.Discord.Gateway/GatewayCluster.cs
  Miki.Discord.Gateway/Models/GatewayConfiguration.cs
  Miki.Discord.Rest/DiscordApiClient.cs
  Miki.Discord.Rest/Http/DiscordRateLimiter.cs
  Miki.Discord.Tests.Dummy/DummyApiClient.cs
  Miki.Discord.Tests.Performance/CachePerformance.cs
  Miki.Discord.Tests.Performance/Miki.Discord.Tests.Performance.csproj
  Miki.Discord.Tests/Caching.cs
  Miki.Discord.Tests/DiscordClientTest.cs
  Miki.Discord.Tests/Miki.Discord.Tests.csproj
  Miki.Discord.sln
  Miki.Discord/BaseDiscordClient.cs
  Miki.Discord/DiscordClient.cs
  Miki.Discord/DiscordClientConfigurations.cs
  Miki.Discord/DiscordClientHandlers.cs
  Miki.Discord/Helpers/DiscordChannelHelper.cs
  Miki.Discord/Internal/DiscordChannel.cs
  Miki.Discord/Internal/DiscordEntity.cs
  Miki.Discord/Internal/DiscordGuild.cs
  Miki.Discord/Internal/DiscordGuildChannel.cs
  Miki.Discord/Internal/DiscordGuildTextChannel.cs
  Miki.Discord/Internal/DiscordGuildUser.cs
  Miki.Discord/Internal/DiscordMessage.cs
  Miki.Discord/Internal/DiscordRole.cs
  Miki.Discord/Internal/DiscordSelfUser.cs
  Miki.Discord/Internal/DiscordTextChannel.cs
  Miki.Discord/Internal/DiscordUser.cs
  Miki.Discord/Miki.Discord.csproj
Labels: cache, enhancement, gateway

#23 Use InvariantCulture when parsing and formatting DateTime
  Miki.Discord.Common/Packets/API/DiscordGuildMemberPacket.cs
  Miki.Discord.Common/Packets/API/DiscordGuildPacket.cs
  Miki.Discord.Tests/Caching.cs
Labels: api
